---
import Layout from "../../layouts/Layout.astro";
import BlogHeader from "../../components/BlogHeader.astro";
import Footer from "../../components/Footer.astro";
import { getCollection } from "astro:content";
import { slide } from "astro:transitions";
import { BLOG_SITE_DESCRIPTION, BLOG_SITE_TITLE } from "../../config";
import AstroLink from "../../components/AstroLink.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("posts", ({ data }) => {
    return data.draft !== true;
  });
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { title, description, pubDate, updatedDate, heroImage = "" } = entry.data;
const { Content } = await entry.render();
---

<Layout title={title} description={description}>
  <BlogHeader title={BLOG_SITE_TITLE} description={BLOG_SITE_DESCRIPTION} />
  <main transition:animate={slide({ duration: '0.5s' })}>
    <article class="prose">
      {heroImage && <img width={720} height={360} src={heroImage} alt="" />}
      <h1 class="title" transition:name={"blog-title-" + entry.slug}>{title}</h1>
      {
        pubDate && (
          <span class="pub-date" transition:name={"blog-pub-date-" + entry.slug}>
            <time>
              {new Date(pubDate).toLocaleDateString("ja-jp", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
            作成
          </span>
        )
      }
      {
        updatedDate && (
          <span class="updated-date">
            <time>
              {new Date(updatedDate).toLocaleDateString("ja-jp", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
            更新
          </span>
        )
      }
      <hr />
      <Content />
      <hr />
      <AstroLink href="/">
        &gt; 一覧に戻る
      </AstroLink>
    </article>
  </main>
  <Footer />
</Layout>
